// Colors

$color-bg = #fff
$color-body-text = #666
$color-chart-gridline = #ddd
$color-chart-meta = #CCCCCC
$color-chart-axis-text = #666
$color-chart-title-text = #333
$color-chart-zeroline = #333

$color-editor-border = #e2e2e2
$color-editor-fill = #F1F1F1
$color-editor-disabled = #BEBEBE
$color-editor-text = #333333
$color-editor-placeholder = #CACACA

$chart-colors = \
	#66c2a5 \
	#fc8d62 \
	#8da0cb \
	#e78ac3 \
	#a6d854 \
	#e5c494 \
	#FFF5CC \
	#FFEB99 \
	#FFDE5C \
	#FFCC00 \
	#CCA300 \
	#997A00 \
	#F7EBD5 \
	#ECCE96 \
	#E4BA6B \
	#D99C2C \
	#986D1F \
	#573E12 \
	#F9DBD6 \
	#ED9283 \
	#E14A31 \
	#B43B27 \
	#872C1D \
	#44160F \
	#EBF2F5 \
	#9AC0CE \
	#5E9BB1 \
	#36829E \
	#265B6F \
	#10272F \
	#E9F1F8 \
	#A7C7E4 \
	#649CCF \
	#2272BB \
	#185083 \
	#0A2238 \
	#E3E2EA \
	#BAB8CC \
	#9E9BB7 \
	#747098 \
	#514C7E \
	#261F5E \
	#999 \
	#666 \
	#ccc 
		
// Add custom sizing and arrow position
.cb-colorpicker-els
	width 260px
	top -310px
	&.active::after
		top auto
		bottom 7px

for c, i in $chart-colors
	[data-color-index=\"{i}\"]
		path
			stroke (c)
		rect
			fill (c)
		circle
			stroke (c)
			stroke-width 2px
			fill (c)

	.color-index-{i}
		fill (c)

	rect[data-color-index=\"{i}\"]
		fill (c)

	text[data-color-index=\"{i}\"]
		fill (c)

	.d4 .axis .tick text[data-color-index=\"{i}\"]
		fill (c)

	.cb-colorpicker-color-{i}
		background-color (c)

	.series-label-{i}
		color (c)

	.series-label-input-{i}
		border-bottom 2px solid (c)
		&:hover, &:focus
			border none
			border-bottom 2px solid (c)
		input
			color (c)

	.cb-toggle.toggled.toggle-{i}
		.cb-toggle-container
			background-color (c)

