// Typography

// Fonts
$font-sans = Helvetica,sans-serif
$font-sans-light = Helvetica,sans-serif
$font-sans-bold = Helvetiac,sans-serif
$font-weight-bold = bold
$font-weight-light = 200
$font-serif = Georgia,serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace


